

   @model Sitecore.Data.Items.Item


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <div>
        Way 1 - @Model["ButtonLabel"]
        <br />
        Way 2 - @Model.Fields["ButtonLabel"].Value
        <br />
        Way 3 - @Html.Sitecore().Field("ButtonLabel", Model)
        <br />
        Way 4 - @Html.Raw(Model.Fields["ButtonLabel"].Value)
    </div>
</body>
</html>
